.row[post]
  .left
    = author_link(post)
  .right
    = render partial: 'users/posts/actions', locals: { post: post }
  .small-6.small-centered.columns
    %div{ style: "color: #{post.icon_color_hex}" }
      = render 'icons/icon', icon: post.icon

