%div[post]
  .small-12.columns
    = author_link(post)
  .small-12.columns
    %div{ style: "color: #{post.icon_color_hex}" }
      = render 'icons/icon', icon: post.icon
  .small-12.columns
    = render partial: 'users/posts/actions', locals: { post: post }