.row.text-center 
  .small-12.columns
    %h1 Posts by #{@user.username}
.row.text-center 
  .small-12.columns    
    = follow_button(@user)
.row.text-center 
  .small-12.columns 
    = paginate @posts
.row
  .small-12.columns 
    .posts
      = render @posts
