.show_post
  =render @post 

.comments
  .row
    .small-12.columns
      =render 'users/comments/comments', comments: @post.comments
.row
  .small-12.columns
    =render partial: 'users/comments/form', locals: { post: @post  }

