%footer
  .row
    .small-12.medium-4.columns.text-left
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac vehicula ex, vel semper elit. Integer convallis tellus et nisl ultrices, quis facilisis metus consequat. 
    .small-12.medium-4.columns.text-centered
      =image_tag 'floop-the-pig.svg'
    .small-12.medium-4.columns.text-right
      %p Design and Development by Floop the Pig
