%nav.top-bar{ data: { topbar: true }, role: :navigation}
  %ul.title-area
    %li.name
      %h1
        %a.logo{ href: root_path } <span>P</span>icoblog
    %li.toggle-topbar.menu-icon
      %a{ href:'#' }
        %span Menu

  %section.top-bar-section
    %ul.right
      -if user_signed_in?
        %li
          =link_to "Posts", posts_path 
      %li
        =link_to 'About', about_path
      %li
        =render 'devise/sessions/login_controls'
      -if user_signed_in?
        %li
          = avatar_for current_user
      
