%nav.top-bar{ data: { topbar: true }, role: :navigation}
  %ul.title-area
    %li.name
      %h1
        %a.logo{ href: root_path } <span>P</span>icoblog
    %li.toggle-topbar.menu-icon
      %a{ href:'#' }
        %span Menu

  %section.top-bar-section
    %ul.right
      %li
        =link_to root_path do
          %span.icon-home
      %li
        =active_link_to news_feed_path do
          %span.icon-earth
      -if user_signed_in?
        %li
          =active_link_to new_user_post_path(current_user), active: ['posts', ['new']] do
            %span.icon-bubble
        %li
          =active_link_to user_posts_path(current_user), active: ['posts', ['index']] do
            %span.icon-user
      %li
        =active_link_to about_path do
          %span.icon-question
      %li
        =render 'devise/sessions/login_controls'

