body {
	background: #e9e7e8 image-url("bg-pat.gif") left top repeat;
	#main_content {
		background-color: #fff;
		max-width: 612px;
    opacity: .9;
	}
}
.logo {
  font-family: 'Audiowide', cursive;
  span {
    color: white;
    background-color: $primary-color;
    padding: 0 0.2em;
    border-radius: 0.2em;
  }
}
.buckets {
  overflow: hidden;
  margin: rem-calc(20) 0;
  p {
    font-size: 12px;
  }
  .icon {

  }
}
footer {
  background-color: #fff;
  opacity: .6
}
