// Icons that are part of the home page "buckets"
.buckets {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 3em;
    color: $primary-color;
    margin: .3em 0;
  }
}

// Icons that are part of the "actions" (e.g. edit, delete..)
.actions {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 2em;
  }
}

// Icons that are part of the top-bar
nav.top-bar {
  [class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
    font-size: 2em;
  }
}

.button {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 2em;
  }
}


@media #{$small-only} {
  .actions {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.5em;
  }
}
 }