.row.text-center 
  .small-12.columns
    %h1 About Picoblog

.row 
  .small-12.columns    
    %p Get me a vodka rocks. And a piece of toast. That's what it said on 'Ask Jeeves.' It's called 'taking advantage.' It's what gets you ahead in life. Did you enjoy your meal, Mom? You drank it fast enough. That's why you always leave a note! I'm a monster.
    %p I'm a monster. He'll want to use your yacht, and I don't want this thing smelling like fish. I'm afraid I just blue myself. Really? Did nothing cancel? We just call it a sausage.
    %h2 Meat the Veals
    %p That's why you always leave a note! It's a hug, Michael. I'm hugging you. But I bought a yearbook ad from you, doesn't that mean anything anymore? Steve Holt! No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide. There's so many poorly chosen words in that sentence. Army had half a day. There's so many poorly chosen words in that sentence. Steve Holt! That's why you always leave a note!
    %ul
      %li What's Spanish for "I know you speak English?"
      %li Across from where?
      %li I care deeply for nature.
      %li Steve Holt!


