.row
  .small-12.columns
    .hero
      %h1.logo
        <span>P</span>icoblog
      %h2.subheader
        A picture is worth a thousand words 
        %span.icon-grin 

  .row
    .small-12.medium-6.columns
      %h2.text-center 
        Pico
        %small /ˈpiːkəʊ,ˈpʌɪkəʊ/ 
      %p.definition 
        %em combining form.
        a prefix in the metric system denoting one trillionth, a factor of 10<sup>−12</sup> (0.000000000001). Very small.

    .small-12.medium-6.columns
      %h2.text-center 
        Blog
        %small /blɒɡ/ 
      %p.definition 
        %em noun.
        A regularly updated website or web page that is written in an informal or conversational style.

  %hr

.row.text-center
  .small-12.columns
    %h2 Picoblog - the wordless social networking service
    %h4.subheader
      Picoblog is a wordless social networking service for connecting and sharing with your friends using pictures alone.
.row.text-center

  .small-12.large-4.columns
    %span.bucket-icon.icon-pencil.subheader
    %h3 Create
    %p Create engaging content... using only a single character.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac vehicula ex, vel semper elit. Integer convallis tellus et nisl. 

  .small-12.large-4.columns
    %span.bucket-icon.icon-like.subheader
    %h3 Share
    %p Share your content with the world. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac vehicula ex, vel semper elit. Integer convallis tellus et nisl ultrices, quis facilisis metus consequat. 
 
  .small-12.large-4.columns
    %span.bucket-icon.icon-cool.subheader
    %h3 Connect
    %p Connect with friends and family members. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac vehicula ex, vel semper elit.  
 


