.row.text-center 
  .small-12.columns
    .hero
      %h1.logo
        <span>P</span>icoblog
      %h2.subheader
        A picture is worth a thousand words 
        //%span.icon-grin 

.row.text-center 
  .small-12.medium-6.columns
    %h2  
      Pico
      %small /ˈpiːkəʊ,ˈpʌɪkəʊ/ 
    %p.definition 
      %em combining form.
      a prefix in the metric system denoting one trillionth, a factor of 10<sup>−12</sup> (0.000000000001). Very small.

  .small-12.medium-6.columns
    %h2
      Blog
      %small blog 
    %p.definition 
      %em noun.
      A regularly updated website or web page that is written in an informal or conversational style.

.row.text-center
  .small-12.columns
    %hr
    %h2 Picoblog - the wordless social networking service
    %p Picoblog is a wordless social networking service for connecting and sharing with your friends using pictures alone.      

.row.text-center
  .buckets
    .small-12.medium-4.columns
      %span.icon.icon-pencil.subheader
      %h3 Create
      %p Create engaging content using only a single character.     
    .small-12.medium-4.columns
      %span.icon.icon-users.subheader
      %h3 Share
      %p Share your message with friends and followers.     
    .small-12.medium-4.columns
      %span.icon.icon-cool.subheader
      %h3 Connect
      %p Lorem ipsum dolor sit amet, consectetur.         

.row.text-center
  .small-12.columns
    .button hello