.row.text-center 
  .small-12.columns
    %h1 News Feed
.row.text-center 
  .small-12.small-centered.columns
    = paginate @posts
.row.text-center 
  .small-12.columns
    .posts
      = render 'users/posts/posts', posts: @posts
