- if user_signed_in?
  =link_to 'Log Out', destroy_user_session_path, method: :delete 
-else
  #loginModal.reveal-modal.small{ data: { reveal: true } }
  =link_to 'Log In', new_user_session_path, data: { reveal_ajax: true, reveal_id: :loginModal }
