%ul.inline-list.actions


  %li
    = link_to user_post_path(post.user, post) do
      = post.comments_count
      %span.icon-bubbles
    
  - if can? :manage, post
    %li
      = link_to edit_user_post_path(post.user, post) do
        .icon-pencil
    %li
      = link_to [post.user, post], :method => :delete, :data => { :confirm => 'Are you sure?' } do
        .icon-remove


