%ul.inline-list
  - if action_name != 'show'
    %li
      = link_to pluralize(post.comments.count, "comment"), post
    
  - if can? :manage, post
    %li
      = link_to 'Edit', edit_post_path(post)
    %li
      = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }  


