%ul.inline-list
  - if action_name != 'show'
    %li
      = link_to pluralize(post.comments.count, "comment"), user_post_path(post.user, post)
    
  - if can? :manage, post
    %li
      = link_to 'Edit', edit_user_post_path(post.user, post)
    %li
      = link_to 'Destroy', [post.user, post], :method => :delete, :data => { :confirm => 'Are you sure?' }  


