%h1 Listing #{@user.email}'s posts
- if can? :manage, @user
  = link_to 'New Post', new_user_post_path(@user), class: :button

- @posts.each do |post|
  %hr
  .right
    = render partial: 'actions', locals: { post: post }
  = render post
