=render @post 
.row
  .small-6.small-centered.columns.text-center
    =render partial: 'actions', locals: { post: @post }

.comments
  =render @post.comments

=render partial: 'comments/form', locals: { post: @post  }

