form {
  input[type=color] {
    width: 4em;
    height: 4em;
  }

  //as in... when an icon is in the form to be selected
  .icon {
    @include single-transition(background-color, .3s, ease-in);
    display: inline-block;
    padding: 5px;
    font-size: 2em;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
    &.selected, &:active {
      background-color: $primary-color;
      color: white;
      @include border-radius(2px);
    }
  }

  button[type='submit'] {
    color: $primary-color;
    background-color: transparent;
  }
  .cancel_button .icon-cancel-circle {
    color: $secondary-color !important; 
  }
}
