.hero {
  text-align: center;
  padding-bottom: 2em;
  .logo {
    font-size: 5em;
    margin-bottom: 28px;
  }
  .subheader {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .05em;
  }
}


@media #{$small-only} {
  .hero {
    .logo {
      font-size: 4em;
    }
  }
 }