//Posts on their own or in a collection
.post { 
  padding: 2em 0;
  text-align: center;
  margin: 1em 0;
  
 .icon {
   display: inline-block;
   font-size: 15em;
 }
}


//Posts rendered as part of a collection (e.g. news feed)
.posts .post {
  border-bottom: 1px solid $secondary-color;
  &:last-child {
    border-bottom: none !important;
  }
}


// Show post - styles for the post show page only
.show_post {
  .post {
    .actions {
      .comment-action {
        display: none;
      }
    }
  }
}
