!!! 5
%html{lang: :en}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title PicoBlog #{yield(:title) if content_for?(:title) }
    =stylesheet_link_tag 'application', media: 'all' 
    =stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Audiowide'
    =javascript_include_tag 'vendor/modernizr'
    =javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js'
    =csrf_meta_tags
    
  %body{ng: { app: 'picoblog' } }
    =render 'layouts/shared/top_bar'
    =render 'layouts/shared/flash_messages'

    #main_content.row
      =yield

    =render 'layouts/shared/footer'
    =javascript_include_tag 'application' 
